<anti_ghost_warning>
    <alert>
        🚫 **MESSAGE NON ENVOYÉ : Anti-Ghost Activé**
    </alert>
    <explanation>
        L'utilisateur a écrit un message pendant que vous travailliez. Votre message n'a pas été envoyé.
    </explanation>
    <new_messages>
        **NOUVEAUX MESSAGES :**
        {{ formatted_messages }}
    </new_messages>
    <action_required>
        **ACTION REQUISE** : Lisez ces messages et adaptez votre réponse, puis appelez à nouveau `talk()`.
    </action_required>
</anti_ghost_warning>
